<h1>La cesta está vacía</h1>

<ul class="carrito_links">
	<li><%= link_to 'Seguir comprando', :controller => 'camisetas', :action => 'listar_todas' %><span class="peque">(Que aún tengo dinero)</span></li>
</ul>
