<form action="/categorias/update">
  <textarea class="grande" name="categorias"><%= @categorias %></textarea>
  <input type="submit" value="Enviar" />
</form>
<p>Atención.. recordar que el último elemento en realidad no es una categoría sino que buscará por todas.</p>