<form action="/gastos_envio/update">
  <textarea class="grande" name="gastos_envio"><%= @gastos_envio %></textarea>
  <input type="submit" value="Enviar" />
</form>
<p>El primero será el de por defecto.</p>
<p>El formato es el siguiente:</p>
<p>Nombre del envío, precio en euros</p>
<p>Por ejemplo:</p>
<ul>
  <li>Paquete Azul España, 20</li>
  <li>Paquete Europa, 30</li>
  <li>Paquete resto del Mundo, 40</li>
</ul> 