<h1>Formas de pagarnos</h1>
<p>Para comprarnos algo tenéis que <strong>hacer una transfe</strong> al número de cuenta que os facilitaremos en el mail de confirmación de vuestro pedido y os diremos también cuales son los <strong>gastos de envío que oscilan entre los 7 y los 12 €</strong>.</p>

<p>Cuando comprobemos que se ha realizado la transfe os enviaremos el paquete y lo recibiréis en <strong>uno o dos días</strong> en la dire que nos facilitéis.</p>

<p>Os pedimos que confiéis en nosotros y paguéis por adelantado, el contrareembolso nos ha dado algún disgusto y no nos lo podemos permitir.</p>

<p>Gracias!</p>

